/**
 * GOKb application CSS.
 */
/*
*= require metisMenu.min
*= require summernote
*= require summernote-bs3
*= require annotations
*= require security-styles
*= require select2
*= require select2-bootstrap3
*= require bootstrap-editable
*= require morris
*= require jquery.textcomplete
*= require fontawesome
*= encoding UTF-8
*/

/** PUBLIC START **/

/* Logo */
.navbar-brand.mekb-logo{
  padding: 3px 15px;
}

/* Number Hero */
.wekb-numberChartHero {
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  background-color: #a9ceda;
}
.wekb-numberChartHero .mekb-title{
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.mekb-bigFont {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

/* Arrow for multiple select2 boxes */
ul.select2-choices {
  padding-right: 30px !important;
}

ul.select2-choices:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.wekb-filter {
  padding: 24px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 0;
}
.wekb-filter .input-group-md > .form-control {
  height: 35px;
}
.wekb-filter .select2-container .select2-choices .select2-search-field input,
.wekb-filter .select2-container .select2-choices {
  border-radius: 0px;
}
.select2-container {
  margin-bottom: 10px;
}
.wekb-filter .select2-container-multi .select2-choices .select2-search-choice  {
  background: #e7e7e7;
}
/* Footer on public sites */
.wekb-footer h2{
  font-size:22px;
}
.footer-bs {
  background-color: #000000;
  padding: 60px 40px;
  color: rgba(255,255,255,1.00);
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
/* TAB IN Bootstrap 4 */
.tab-content {
  border: 1px solid #ddd;
  border-top: 0 none;
  margin-bottom: 20px;
  width: 100%;
}
.tab-pane {
  padding: 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #6f6f6f;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

/** PUBLIC END **/
.threeColGrid > div:nth-child(4n+5) {
    clear: left;
}

body .modal-dialog {
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: -375px; */
}

.textcomplete-dropdown {
	z-index: 9999 !important;
}

.title-merge-info {
  display:inline-block;
  font-size:1.1em;
  padding:8px;
  margin:10px 0;
  background-color:#fcf8e3;
  border:1px solid;
  border-color:#faebcc;
}

.title-merge-heading {
  font-weight:bold;
}

.title-merge-title {
  font-weight:bold;font-size:1.1em;
}

.title-merge-heading-old {
  background-color: #ebccd1;
}
.title-merge-heading-new {
  background-color: #d6e9c6;
}

.title-merge-body-old {
  background-color: #fff7f8;
}
.title-merge-body-new {
  background-color: #f6ffef;
}

.title-merge-ids {
  margin:2px;
  font-size:1.2em;
  font-weight:bold;
}

.title-merge-status {
  margin-top:1.4em;
  font-weight:bold;
}

.title-merge-heading-sub > th > span > input{
  vertical-align:text-top;
}

.title-merge-space {
  background-color:#ffffff;
}

.title-merge-space > td {
  text-align:center;
  font-size:2em;
}

.pagination > a, .pagination > span {
  padding: 5px 8px;
  font-size:larger;
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-decoration:none;
}

.pagination > .currentStep {
  font-weight:bold;
  color: #666;
  background-color:#f5f5f5;
}

.pagination > a:first-child, .pagination > span:first-child  {
  border-left: 1px solid #e7e7e7;
/*   border-radius: 6px 0px 0px 6px; */
}

.pagination > a:last-child, .pagination > span:last-child {
/*  border-radius: 0px 6px 6px 0px;*/
}

.select2-container .select2-choice {
  height:39px;
}

.select-m {
  width:300px !important;
}

.select-ml {
  width:450px !important;
}

.select2-chosen{
  height:39px;
  padding: 8px 12px !important;
  line-height:normal;
}
.form-control {
  padding-top: 8px;
  display:block;
  line-height:normal !important;
}

.add-on {
  font-size:1.3em;
  color:#222;
  height:39px;
  vertical-align: sub;
  margin-left:-35px;
  margin-right:35px;
  display:inline-block;
}

.form-label {
  display:inline-block;
  vertical-align:middle;
  height:39px;
  padding-top:9px;
}

.dt-label {
  padding-top:8px;
}

.control-label {
  font-size:15px;
}

.search-page-index {
  white-space: nowrap;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-page-index-input {
  height:24px;
}

.editable-click {
  cursor:pointer;
}

#rr-tipp-status {
  width:100px;
  display:inline;
}
