/* label what server */

.wb-server-label {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    margin: 0 !important;
    border-radius: 0 !important;
    z-index: 999;
}
.wb-server-label span {
    line-height: 30px;
}