/*
 * FileName: wekb.css
 *
 *= require /semantic.min.css         //-- semantic
 *= require /select2/css/select2.min.css        //-- externalLibs
 */

.control-label {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 0.7em;
    font-weight: bold;
}

.ui.table tfoot th.control-label {
    color: #4f4f4f;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 0.7em;
    font-weight: 700;
}

.we-inline-lists dl {
    display: table-row;
}

.we-inline-lists dl dt,
.we-inline-lists dl dd {
    display: table-cell;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}

.we-inline-lists dl dd {
    padding-left: 1rem;
}

.we-inline-lists dl dd {
    word-wrap: break-word;
}

.we-inline-lists .la-dl-no-table dl dt,
.we-inline-lists .la-dl-no-table dl dd {
    display: inline;
}

.we-inline-lists .ui.card {
    width: 100%;
}

.inline-lists > dl > dt,
.inline-lists > dl > dd {
    display: inline-block;
    vertical-align: top;
}

.inline-lists > dl > dt {
    width: 25%;
}

.inline-lists > dl > dt > label {
    font-weight: bold;
}

.inline-lists > dl > dd {
    width: 70%;
    word-wrap: break-word;
}
